name: Build and push container images
on: push

permissions:
  packages: write

jobs:
  build:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        tls: [openssl, gnutls]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build image
        id: build-image
        uses: redhat-actions/buildah-build@v2
        with:
          image: at-wget-lua
          tags: ${{ matrix.tls }}
          containerfiles: ./Containerfile
          build-args: TLS_TYPE=${{ matrix.tls }}
          oci: true
      - name: Push image
        if: ${{ github.ref_name == 'release' }}
        uses: redhat-actions/push-to-registry@v2
        with:
          image: ${{ steps.build-image.outputs.image }}
          tags: ${{ steps.build-image.outputs.tags }}
          registry: ghcr.io/${{ github.repository_owner }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
